<mat-toolbar color="primary"
             fxLayout="row"
             fxLayoutAlign="space-between center">
  <span>HearthSoundboard</span>
  <span class="mat-caption">Just for minions!</span>
</mat-toolbar>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Tirion Fordring">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- Class Column -->
    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.class}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Media Column -->
    <ng-container matColumnDef="media">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
      <mat-cell *matCellDef="let row"> <mat-icon>audiotrack</mat-icon> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

  <mat-paginator [pageSize]="50"></mat-paginator>
</div>
