<mat-toolbar color="primary"
             fxLayout="row"
             fxLayoutAlign="space-between center">
  <span id="brand">HearthSoundboard</span>
  <span class="mat-caption">Just for minions!</span>
</mat-toolbar>

<ng-template #loaderOrError>
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</ng-template>

<div class="example-container mat-elevation-z8"
     *ngIf="dataSource; else loaderOrError">

  <div class="example-header">
    <mat-form-field>
      <input matInput id="search-query"
             (keyup)="applyFilter($event.target.value)"
             placeholder="Tirion Fordring">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <!-- Class Column -->
    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container [ngSwitch]="row.cardClass">
          <span *ngSwitchCase=" 'MAGE' " class="icon-mage"></span>
          <span *ngSwitchCase=" 'PRIEST' " class="icon-priest"></span>
          <span *ngSwitchCase=" 'WARLOCK' " class="icon-warlock"></span>
          <span *ngSwitchCase=" 'ROGUE' " class="icon-rogue"></span>
          <span *ngSwitchCase=" 'DRUID' " class="icon-druid"></span>
          <span *ngSwitchCase=" 'PALADIN' " class="icon-paladin"></span>
          <span *ngSwitchCase=" 'SHAMAN' " class="icon-shaman"></span>
          <span *ngSwitchCase=" 'HUNTER' " class="icon-hunter"></span>
          <span *ngSwitchCase=" 'WARRIOR' " class="icon-warrior"></span>

          <span *ngSwitchDefault class="icon-neutral"></span>
        </ng-container>

        {{row.cardClass}}
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Media Column -->
    <ng-container matColumnDef="media">
      <mat-header-cell *matHeaderCellDef> Media </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button
                class="summon-effect"
                (click)="onPlay(row.audio.summon)"
                *ngIf="row.audio?.summon">
          <mat-icon>audiotrack</mat-icon> Summon
        </button>
        <button mat-button
                class="attack-effect"
                (click)="onPlay(row.audio.attack)"
                *ngIf="row.audio?.attack">
          <mat-icon>audiotrack</mat-icon> Attack
        </button>
        <button mat-button
                class="death-effect"
                (click)="onPlay(row.audio.death)"
                *ngIf="row.audio?.death">
          <mat-icon>audiotrack</mat-icon> Death
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

  <mat-paginator [pageSize]="50"></mat-paginator>
</div>
