<mat-toolbar color="primary"
             fxLayout="row"
             fxLayoutAlign="space-between center">
  <span id="brand">HearthSoundboard</span>
  <span class="mat-caption">Just for minions!</span>
</mat-toolbar>

<ng-template #loaderOrError>
  I am the loader or error component!
</ng-template>

<div class="example-container mat-elevation-z8"
     *ngIf="dataSource; else loaderOrError">

  <div class="example-header">
    <mat-form-field>
      <input matInput id="search-query"
             (keyup)="applyFilter($event.target.value)"
             placeholder="Tirion Fordring">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <!-- Class Column -->
    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.class}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Media Column -->
    <ng-container matColumnDef="media">
      <mat-header-cell *matHeaderCellDef> Media </mat-header-cell>
      <mat-cell *matCellDef="let row"> <mat-icon>audiotrack</mat-icon> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

  <mat-paginator [pageSize]="50"></mat-paginator>
</div>
